
<a href="/Dashboard">&larr;Back to Dashboard</a>
<h1 style="text-align:center">Create new post</h1>

<form action="/add-post" method="post">
    <label for="title"><b>Title</b></label>
    <input type="text" name="title" id="title" placeholder="Add Title">
    <label for="body"><b>Blog body</b></label>
    <textarea name="body" id="body" cols="50" rows="10"></textarea>
    <label for="image">Add Image Url</label>
    <input type="text" name="imageUrl" id="image" placeholder="Add Image Url">
    <input type="submit" value="Create Blog" class="btn">

</form>