<h1>Sign in </h1>
<form action="/admin" method="post" >
    <label for="username"><b>USERNAME</b></label>
    <input type="text" name="username" id="username">

    <label for="password"><b>PASSWORD</b></label>
    <input type="text" name="password" id="password">

    <input type="submit" value="log in" class="btn">

</form>

<h1>Register</h1>
<form action="/register" method="post" >
    <label for="username"><b>USERNAME</b></label>
    <input type="text" name="username" id="username">

    <label for="password"><b>PASSWORD</b></label>
    <input type="text" name="password" id="password">

    <input type="submit" value="register" class="btn">

</form>