

        <ul class="nav">
            
                <li><a class="logo" href="/">Pastafarianism_in</a></li>
                <li><a class="<%= isActiveRoute('/',currentroute)  %>"  href="/">Home</a></li>
                <li><a  class="<%= isActiveRoute('/about',currentroute)  %>" href="/about">About</a></li>
                <li><a class="<%= isActiveRoute('/contact',currentroute)  %>"  href="/contact us">Contact us</a></li>
                <li><a class="admin_btn" href="/admin">Admin Login</a></li>
        </ul>
       
 
 