<div class="header">
    <div>    <a class="logo" href="/">Admin Panel</a>
    </div>
<div class="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/Contact us">Contact us</a></li>

    </ul>
</div>

    <form action="/logout" method="post">
        <div class="header_button">
            <button class="searcbtn">
                Logout
            </button>
        </div>
    </form>

</div>