<div class="searchbar">
    <div class="container">
        <form action="/search" method="post" class="search_form ">
            <input type="text" name="searchtext" id="" aria-label="search" placeholder="search"><%# aria-label describes the purpose %>
        </form>
        <div id="searchclose">
            close
        </div>
    </div>
</div>