<div class="searchbar">
    <div class="container">
        <form action="/search" method="post" role="search" class="search_form">
            <input type="search" aria-label="search"  name="searchterm" id="searchinput" placeholder="Search...">
        </form>
<div id="searchclose">Close</div>
        
    </div>
</div>