<div class="about-header">
    <h1>About Us</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel labore, vitae iste ex laborum corrupti vero veritatis ad quaerat, alias quae provident dolorum, consequatur sapiente quibusdam dolor dolorem id. Cupiditate.</p>
</div>
<div class="about-mid">
    <div class="m1">
        <h1>Our mission</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, et! Quos iusto nesciunt ab voluptatem hic laborum doloremque ullam. Ea eaque, cum dolorem laudantium quisquam consectetur</p>
    </div>
    <div class="m2">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWHQOH1BFdwYNVZI6w-geklRYEmjQlwEVXGg&usqp=CAU" alt="img" >
    </div>
</div>
<div class="about-form" >
    <h2>CONTACT</h2>
    <form class="a-form" action="/send-msg" method="post">
        <div class="N-E">
            <input type="text" placeholder="Name" name="name">
        <input type="text" placeholder="E-mail" name="email">
        </div>
        <div class="S-M-S">
        <input type="text" placeholder="Subject" name="sub">
        <input type="text" placeholder="Your message goes here..." name="msg">
        <input type="submit">
        </div>
    </form>
</div>