<div class="about-form" >
    <h2>CONTACT</h2>
    <form class="a-form" action="/send-msg" method="post">
        <div class="N-E">
            <input type="text" placeholder="Name" name="name">
        <input type="text" placeholder="E-mail" name="email">
        </div>
        <div class="S-M-S">
        <input type="text" placeholder="Subject" name="sub">
        <input type="text" placeholder="Your message goes here..." name="msg">
        <input type="submit">
        </div>
    </form>
</div>