<div class="author">
    <h1 class="author_heading">Hi, I am Manjeet</h1>
    <p class="author_body">Web Developer</p>
</div>

<img src="https://images.unsplash.com/photo-1685808157817-1611631f8d30?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyNXx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="person looking out through a window" class="hero-image" width="681" height="428">

<section class="article">
    <h2 class="article_heading">Latest posts</h2>

    <ul class="article-ul">
       <% data.forEach(post=>{ %>
        <li>
            <a href="#">
                <span><%= post.title %></span>
                <span class="article-list_date"><%= post.createdOn.toDateString() %></span><%# toDateString() simplifies the date format %>
            </a>
        </li>
      <% }) %>
        
        
        
       

    </ul>
    <a href="#" class="paginator">view older posts</a>
</section>