
:root{
    --color-black:#000000;
    --color-orange:#ff5400;
    --text-white:#ffffff;
    --font:'Roboto', sans-serif;
    

    
}
body{
    width: 720px;
    margin: 0 auto;
    padding: 0;
    font-family: var(--font);
}

.nav{
    display: flex;
    flex-direction: row;
    height: 60px;
    width:645px;
    margin-left: 0%;   
    border-bottom: 1px solid gray;
}


.nav li{
    margin-top: 10px;
    margin-right: 24px;
    list-style-type: none;

}
.nav li a{
    color:var(--color-black);
    text-decoration: none;
    font-size:medium;
    font-weight: 600;
    padding: 8px 0px;
}
.nav li a:hover{
    color: var(--color-orange);
    border-bottom: 3px solid var(--color-orange);
}
.nav li a.admin_btn  {
    background-color: var(--color-orange);
    color:var(--text-white);
    margin-left: 80px;
    padding: 8px 5px;
    border: none;
    border-radius: 7px;
}
.nav li a.admin_btn:hover{
    background-color: var(--text-white);
    color: var(--color-black);
}

@media screen and (max-width: 1150px) {
    body{
        width: 720px;
        margin: 0 auto;
        padding: 0;
    }
    .nav{
        width: 720px;
        border-bottom: none;
    }
    .nav li a {
      font-size:medium;
    }
    .nav li a.admin_btn  {
       
        margin-left: 80px;
        
    }
  }

@media screen and (max-width:650px){
    body{
        margin: 10px 15px;

    }
    .nav li a {
        font-size: smaller;
        margin:15px;
      }
}

.nav li a.active{
    color: #ff5400;
    border-bottom: 3px solid #ff5400;
}

/* navbar styling done  */
/* Home page styling begins */

.author{
    text-align: center;
    width: 90%;
    margin: 0 auto;
}
.author h1{
    color: var(--color-black);
    font-weight: bolder;
}

.hero-image{
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    border-top-left-radius: 60px;
}
 .article{
    margin-top: 20px;
}
.article_heading{
    color: var(--color-orange);
    font-size: xx-large;
}

.article ul{
    margin: 0;
    padding: 0;
}

.article ul li {
    list-style-type: none;
    margin: 15px auto;    
    /* border: 1px solid black;     */
}

.article ul li a{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: var(--color-black);
    font-size: large;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px 15px;

}
.article ul li a span.article-list_title{
    width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.article ul li a:hover{
    color: var(--color-orange);
}